*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background:#fefcfb;
}
.myApp{
  max-width:760px;
  margin:30px auto;    
}

.header{
  text-align:center;
  padding:20px 0px;
  background:#034078;
  color:#fff;
}

.main{
  border-top:1px solid #1282a2;
  border-bottom:1px solid #1282a2;
  padding:0px 30px;
  background:#1282a2;
}
.post{
  background:#fff;
  padding:20px;
  margin:20px 0px;
}
.post h2{
  margin-bottom:20px;
}

.footer{
  padding:20px 0px;
  text-align:center;
  background:#001f54;
  color:#fff;
}